<div id="question-title">
    <h2>{{question}}</h2>
    <div id="question-choices">
    <ul>
      <button class = "quiz-choice" id="choice1">A&#41 {{question.choice1}}</button>
      <button class = "quiz-choice" id="choice2">B&#41 {{question.choice2}}</button>
      <button class = "quiz-choice" id="choice3">C&#41 {{question.choice3}}</button>
      <button class = "quiz-choice" id="choice4">D&#41 {{question.choice4}}</button>
    </ul>
    </div>
</div>
