<div id="question-title">
    <h2>{{question}}</h2>
    <div id="question-choices">
    <ul>
      <li id="choice1">A&#41 {{question.choice1}}</li>
      <li id="choice2">B&#41 {{question.choice2}}</li>
      <li id="choice3">C&#41 {{question.choice3}}</li>
      <li id="choice4">D&#41 {{question.choice4}}</li>
    </ul>
    </div>
</div>
