<div id="question-title">
    <h2>{{question}}</h2>
    <div id="question-choices">
    <ul>
      <li>A&#41 {{question.choice1}}</li>
      <li>B&#41 {{question.choice2}}</li>
      <li>C&#41 {{question.choice3}}</li>
      <li>D&#41 {{question.choice4}}</li>
    </ul>
    </div>
</div>
