<form class="question-form">
    <div class="form-line">
        <label class="question-label" for="question-input">Question:</label>
        <input class="form-input" type="text" id="question-input" value="{{question}}" />
    </div>
    <div class="form-line">
        <label  class="question-label"for="choice1-input">Choice 1:</label>
        <input class="form-input" type="text" id="choice1-input" value="{{choice1}}"/>
    </div>
    <div class="form-line">
        <label  class="question-label"for="choice2-input">Choice 2:</label>
        <input class="form-input" type="text" id="choice2-input" value="{{choice2}}"/>
    </div>
    <div class="form-line">
        <label  class="question-label"for="choice3-input">Choice 3:</label>
        <input class="form-input" type="text" id="choice3-input" value="{{choice3}}" />
    </div>
    <div class="form-line">
        <label  class="question-label"for="choice4-input">Choice 4:</label>
        <input class="form-input" type="text" id="choice4-input" value="{{choice4}}" />
    </div>
    <div class="choices">
        <div class="select-answer">
            Answer: 
        </div>
        <div id="radio-box">
            <div class="radio-choices">
                <label for="choice1-radio">Choice 1: </label>
                <input type="radio" id="choice1-radio" name="correct-answer" value="1st choice is correct" class="radio"
                    checked>
            </div>
            <div class="radio-choices">
                <label for="choice2-radio">Choice 2: </label>
                <input type="radio" id="choice2-radio" name="correct-answer" value="2nd choice is correct"
                    class="radio">
            </div>
            <div class="radio-choices">
                <label for="choice3-radio">Choice 3: </label>
                <input type="radio" id="choice3-radio" name="correct-answer" value="3rd choice is correct"
                    class="radio">
            </div>
            <div class="radio-choices">
                <label for="choice4-radio">Choice 4: </label>
                <input type="radio" id="choice4-radio" name="correct-answer" value="4th choice is correct"
                    class="radio">
            </div>
        </div>
    </div>
    <div>
        <button class="add-question-btn btn">Add Question</button>
    </div>
</form>