<div class="quizlist-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      Question Details
    </h2>
  </div>
  <div class="quizList col-md-4">
    <p>{{question.question}}</p>
    <p>{{question.choice1}}</p>
    <p>{{question.choice2}}</p>
    <p>{{question.choice3}}</p>
    <p>{{question.choice4}}</p>
    <p>{{question.answer}}</p>
  </div>
  <button id="delete-question-btn">Delete Question</button>
  <button id="update-question-btn">Update Question</button>
</div>