<div id="question-box" quizId="{{question.quiz_id}}" questionId="{{question.id}}" >
  <div class="main-title">
    <h2>Question Details</h2>
  </div>
  <div id="question-data">
    <h5>{{question.question}}</h5>
    <ul>
      <li>A&#41 {{question.choice1}}</li>
      <li>B&#41 {{question.choice2}}</li>
      <li>C&#41 {{question.choice3}}</li>
      <li>D&#41 {{question.choice4}}</li>
      <li>Correct Answer: {{question.answerMatch}}</li>
    </ul>
  </div>
  <div class="btn-box">
    <button class="btn" id="delete-question-btn">Delete Question</button>
    <button class="btn" id="update-question-btn">Update Question</button>
  </div>
</div>

<script src="../js/update.js"></script>