<div id="main-quiz-section">
  <aside>
    <div id="timer-box">
      <h4>Time:</h4>
      <h4 id="timer-text"></h4>
    </div>
    <div id="score-box">
      <h4>Score:</h4>
      <h4 id="score-text"></h4>
    </div>
    <div id="message-box">
      <h5 id="message-text"></h5>
    </div>
  </aside>
  <div >
    <div id="takequiz-container" quiz-id="{{quiz.id}}">
      <div class="main-title">
        <h2 id="quiz-title">{{quiz.quiz_title}}</h2>
      </div>
      <div id="quiz-question-box">
        <h5 id="quiz-question">{{question}}</h5>
        <ul id="answer-choice-list">
          <li id="choice1" data-index="choice1">A&#41 <span id="choice1-text" correct-answer=false></span></li>
          <li id="choice2" data-index="choice2">B&#41 <span id="choice2-text" correct-answer=false></span></li>
          <li id="choice3" data-index="choice3">C&#41 <span id="choice3-text" correct-answer=false></span></li>
          <li id="choice4" data-index="choice4">D&#41 <span id="choice4-text" correct-answer=false></span></li><br>
        </ul>
      </div>
    </div>
    <div id="end-quiz-box" class="">
      <h3>Your score, {{username}}</h3>
      <h4 id="final-score"></h4>
      <div id="end-quiz-links">
        <a href="/profile">Back to my profile</a>
        <a href="/quizzes/{{quiz.id}}">Review the Quiz</a>
        <a href="/take-quiz/{{quiz.id}}">Try Again</a>
      </div>
    </div>
  </div>
</div>

<script src="../../js/take-quiz.js"></script>